@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}
.app{
  min-height: 100vh;
  display: flex;
 background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);;
 justify-content: center;
 gap: 10px;
 align-items: center;
 padding: 10px 10%;
}